ul.navWrapper {
	background-image: linear-gradient(#FFFFFF, #4EC5C1 85%, #FFFFFF);
	height: 45px;
	list-style-type: none;
	display: flex;
}
li.headerItem {
	display: inline;
	text-align: center;
	width: 200px;
	margin: auto;
}

.headerAnchor {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

a, a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
