html * {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
table,td,tr {
	border: none;
}
a {
	text-decoration: none;
}

.abc {
	font-size: 12.5pt;
}

.bbb {
	font-size: 10pt;
	background-color: #FFFFFF;
}
